<style >
</style>

<template class="">
  <div class="container">
  <formcomponent :page="page"></formcomponent>
  <button class="btn btn-info" v-on:click="mode_change()">モード変更</button>
  <map v-if="page != null" ></map>
</div>
</template>

<script>
import Vue from 'vue';
import Form from './Form.vue';
import Map from './Map.vue';
import {renderMap} from '../vuex/actions.js';

export default {
  vuex: {
    getters: {
       map: state => state.map
    },
    actions: {
      renderMap
    }
  },
  components: {
    'formcomponent': Form,
    'map': Map
  },
  data: function () {
    return {
      page: null
    }
  },
  methods: {
    mode_change: function(){
      console.info("[A] mode_change() mode: " + this.page);
      if(this.page == "map"){
        console.info("[A] mode_change() map -> null");
        this.page = null;
      }else{
        console.info("[A] mode_change() null -> map");
        this.page = "map";
      }
    }
  },
  created(){
    console.info("[A] created");
  },
  ready(){
    console.info("[A] ready");
  }
}
</script>
