<style >
  .form-component{
    margin: 20px;
  }
</style>

<template class="">
  <div class="container form-component">
    <div class="form-group">
      <label>ユーザーID</label>
      <input type="text" v-model="user_id" class="form-control" v-on:click="getCurrentPosition()">
    </div>
    <div class="form-group">
      <label>対象物</label>
      <input type="text" v-model="object" class="form-control">
    </div>
    <div class="form-group">
      <label>内容</label>
      <input type="text" v-model="content" class="form-control">
    </div>
    <div class="checkbox">
      印象は
      <!-- 良い=0, 悪い=1, 疑問=2, 不明=3 -->
      <label for="one">良い
      <input type="radio" id="one" value="0" v-model="feeling">
      </label>
      <label for="two">悪い
      <input type="radio" id="two" value="1" v-model="feeling">
      </label>
      <label for="two">疑問
      <input type="radio" id="two" value="2" v-model="feeling">
      </label>
      <label for="two">不明
      <input type="radio" id="two" value="3" v-model="feeling">
      </label>
    </div>
    <div class="checkbox">
      マクロビューアーの意見は参考になりましたか
      <!-- つかった=0, つかってない=1 -->
      <label for="one">つかった
      <input type="radio" id="one" value="0" v-model="is_micro">
      </label>
      <label for="two">つかってない
      <input type="radio" id="two" value="1" v-model="is_micro">
      </label>
    </div>
    <!-- ノーマルページ=0, マップページ=1, 双対ページ=2 -->
    <button type="submit" class="btn btn-default" v-on:click='sendForm()'>送信</button>
  </div>
</template>

<script>
import Vue from 'vue';
import API from '../api.js';
export default {
  props: ['page'],
  vuex: {
    actions: {
    }
  },
  data: function(){
    return{
      user_id: null,
      object: null,
      feeling: null,
      content: null,
      latitude: null,
      longitude: null,
      is_micro: null
    }
  },
  methods: {
    getLocation: function(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
          this.latitude = position.coords.latitude;
          this.longitude = position.coords.longitude;
        },function(){
          alert("error");
        });
      } else {
      }
    },

    sendForm: function(){
      if(this.page == null){
        this.page = 0;
      }else if(this.page == "normal"){
        this.page = 0;
      }else if(this.page == "map"){
        this.page = 1;
      }else if(this.page == "soutsui"){
        this.page = 2;
      }
      console.info("[Form] sendForm");
      console.info("[Form] page" + this.page + "です");
      this.getLocation();
      console.info("[Form] this.latitude: "+this.latitude);
      console.info("[Form] this.latitude: "+this.longitude);
      API.postForm(this.user_id, this.object, this.feeling, this.content, this.latitude, this.longitude, this.page, this.is_micro)
      .then((response)=>console.log("response: " + response));
      this.user_id = null;
      this.object = null;
      this.feeling = null;
      this.content = null;
      this.is_micro = null;
    }
  },
  created(){
    console.info("[Form] created");
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
        this.latitude = position.coords.latitude;
        this.longitude = position.coords.longitude;
      },function(){
        alert("[Form] 位置情報を取得できません. ");
      });
    } else {
    }
  },
  ready(){
    console.info("[Form] ready");
  }
}
</script>
